<div class="bg-[#F3F5F7] mt-12">
  <div class="container mx-auto px-6 text-center mt-16 ">
      <div class="mt-12">
          <div class="text-black text-[40px] font-bold font-['Poppins']">Alumni
              PLUGIN</div>
          <p class="text-black text-[26px] font-normal font-['Poppins']">Almuni
              Plugin yang sudah berada di dunia industri</p>
      </div>
      <div class="grid xl:grid-cols-4 grid-cols-2 gap-6">
          <!-- Item Brand -->
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/sigogrin.png') }}" alt="Brand Image" class="object-cover w-1/2">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/sigotech.png') }}" alt="Brand Image" class="object-cover w-1/2">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/SIGOLAB.png') }}" alt="Brand Image"
                  class="object-cover w-1/2 transform scale-125">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/sigomed.png') }}" alt="Brand Image"
                  class="object-cover w-1/2 transform scale-150">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/osteogrin.png') }}" alt="Brand Image"
                  class="object-cover w-1/2 transform scale-150">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/SIGOPTIK_LGO.png') }}" alt="Brand Image"
                  class="object-cover w-1/2">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/sigotech.png') }}" alt="Brand Image" class="object-cover w-1/2">
          </div>
          <div class="bg-gray-50 h-24 rounded-xl flex items-center justify-center">
              <img src="{{ asset('assets/brand/sigo.jpg') }}" alt="Brand Image" class="object-cover w-1/2">
          </div>
      </div>
  </div>
</div>